@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-charmander dark:bg-khazix 
}

/* ::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  padding-top: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
} */
.thin-scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 6px;
  padding-top: 6px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 6px;
}

.modal-overlay {
  opacity: 0.4;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.maureen {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.modal-open-animation {
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-content:focus {
  outline: none;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.color-selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.day-picker-row > .day-picker-cell:first-child > .day-picker-day.day-picker-day-selected:not(.day-picker-day-range-end, .day-picker-day-range-start) {
  border-radius: 0.375rem 0 0 0.375rem;
}

.day-picker-row > .day-picker-cell:last-child > .day-picker-day.day-picker-day-selected:not(.day-picker-day-range-start, .day-picker-day-range-end) {
  border-radius: 0 0.375rem 0.375rem 0;
}
.day-picker-day.day-picker-day-selected.day-picker-day-range-end,
.day-picker-day.day-picker-day-selected.day-picker-day-range-start {
  border-radius: 0.375rem;
}

.day-picker-cell:has(.day-picker-day-range-start) {
  border-radius: 0.375rem 0 0 0.375rem;
}
.day-picker-cell:has(.day-picker-day-range-end) {
  border-radius: 0 0.375rem 0.375rem 0;
}
.day-picker-cell:has(.day-picker-day-range-start.day-picker-day-range-end) {
  border-radius: 0.375rem; 
}

/* .first\:\[\&\:has\(\[aria-selected\]\)\]\:rounded-l-md:has([aria-selected]):first-child { */
/*   border-top-left-radius: calc(var(--radius) - 2px); */
/*   border-bottom-left-radius: calc(var(--radius) - 2px); */
/* } */
/* .last\:\[\&\:has\(\[aria-selected\]\)\]\:rounded-r-md:has([aria-selected]):last-child { */
/*   border-top-right-radius: calc(var(--radius) - 2px); */
/*   border-bottom-right-radius: calc(var(--radius) - 2px); */
/* } */
